{% extends "index.html" %}

{% block content %}



<div class="mt-5 row justify-content-center mx-auto  ">
    <h2 class=" text-center ">Do wykonania na APS:</h2>
    <pre class=" table-responsive ">
              <table class="table" >
                {{ automatic_data.to_html(index=True,classes='table-striped table-bordered', header=True)|safe }}
            </table>


          </pre>
</div>

<div class="mt-2 row justify-content-center mx-auto  ">
    <h2 class=" text-center ">Do wykonania manualnie:</h2>
    <pre class=" table-responsive ">
              <table class="table"  >
                    {{ manual_data.to_html(index=True, classes='table-striped table-bordered', header=True)|safe }}
               </table>

          </pre>
</div>
<script>

tr:hover {background-color: coral;}
</script>


{% endblock %}
