{% extends "index.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 text-left">
                <button class="btn btn-primary mr-2" onclick="javascript:history.back()">Wróć</button>
        </div>
        <div class="col-6 text-right">
                 <a href="{{ url_for('create_aps_file') }}" class="btn btn-primary">Potwierdź</a>
        </div>
    </div>


    <div class="row">

        <div class="mt-5 justify-content-center mx-auto col-6  ">
            <h2 class=" text-center ">Do wykonania na APS:</h2>
            <pre class=" table-responsive ">
                      <table class="table" >
                        {{ automatic_data[['Number', 'Finish', 'Lenght','Profile','Quantity', 'Type', 'Special_eq']].drop('System').to_html(index=True,classes='table-striped table-bordered', header=True)|safe }}
                    </table>
                  </pre>
        </div>

        <div class="mt-5  justify-content-center mx-auto col-6 ">
            <h2 class=" text-center ">Do wykonania manualnie:</h2>
            <pre class=" table-responsive ">
                      <table class="table"  >
                            {{ manual_data[['Number', 'Finish', 'Lenght','Profile','Quantity', 'Type', 'Special_eq']].drop('System').to_html(index=True, classes='table-striped table-bordered', header=True)|safe }}
                       </table>

                  </pre>
        </div>
    </div>
</div>


{% endblock %}
