<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link href="{{url_for('static', filename='favicon.ico')}}" rel="shortcut icon" type="image/x-icon">
    <title>LOCKBASE to APS converter</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script crossorigin="anonymous"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">



</head>


<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">Konwerter plików LOCKBASE do APS</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.path == url_for('index') %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('index') }}">Konwerter </a>
            </li>
            <li class="nav-item {% if request.path == url_for('archive') %}active{% endif %}">
                <a class="nav-link"  href="{{ url_for('archive') }}">Archiwum dokumentów</a>
            </li>
                <li class="nav-item {% if request.path == url_for('archive') %}active{% endif %}">
                <a class="nav-link"  href="{{ url_for('archive') }}">Archiwum zleceń</a>
            </li>
            <li class="nav-item {% if request.path == url_for('contact') %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('contact') }}">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>


<br>

<div class="container col-10 mt-5 ">
    {% block upload %} {%endblock %}
</div>

<div class="container col-10 mt-5">
    {% block content %} {%endblock %}
</div>

<br><br><br><br>
<footer class="bg-primary text-white py-4 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-center"> ASSA ABLOY &copy; </p>
            </div>
        </div>
    </div>
</footer>


</body>
</html>