{% extends "index.html" %}

{% block content %}


<div class="mt-2 row justify-content-center mx-auto  ">
    <h2 class=" text-center ">Zamówienie:</h2>
    <pre class=" table-responsive ">
              <table class="table  ">
                    {{ order_data|safe }}
               </table>

          </pre>
</div>


<div class="mt-2 row justify-content-center mx-auto  ">
    <h2 class=" text-center ">Zawartość pliku {{pdf_filename}}:</h2>
    <pre class=" table-responsive ">
              <table class="table  ">
                    {{ pdf_data|safe }}
               </table>

          </pre>
</div>


<div class="mt-2 row justify-content-center mx-auto  ">
    <h2 class=" text-center ">Zawartość pliku {{csv_filename}}:</h2>
    <pre class=" table-responsive ">
              <table class="table  ">
                    {{ csv_data|safe }}
               </table>

          </pre>
</div>


{% endblock %}
